body{
    background-color: #d3d3d3;
}
div{
    display: inline-block;
    justify-content: space-around;
    align-items: center;    
}
form{
    font-weight: bold;
    display: block;
    position: relative;
}