{% extends 'shared/layout.html' %}
{% block conteudo%}

<h1>Cadastre sua ideia {{pessoa.nome}}</h1>

<div class="ideias">
<form action="/ideias" method="POST">
{% csrf_token %}
    <input type="hidden" name="email" value="{{pessoa.email}}">
    <label>Titulo</label>
    <input type="text" name="titulo">
    <label for="descricao">Descreva sua ideia</label>
    <textarea name="descricao" cols="30" rows="10"></textarea>
    <label>Categoria</label>
    <select name="categorias">
        <option value="TECNOLOGIA">TECNOLOGIA</option>
        <option value="CIENCIA">CIÊNCIA</option>
        <option value="ESPORTE">ESPORTE</option>
        <option value="OUTROS">OUTROS</option>
    </select>
    <label>Caso outros, qual?</label>
    <input type="text" name="categoria_outros">

    <input type="submit" value="Cadastrar ideia">
</form>
</div>

{% endblock %}